*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #0c3e6b;
    color: #f1ffb8;
    /* cursor: none; */
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #f1ffb8;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.underline{
    font-size: 90px;
    letter-spacing: 5px;
}

.underline::before{
    content:'';
    margin: -20px 4px;
    height: 10px;
    transform: scaleX(0);
    background-color :#f1ffb8;
    position: absolute;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.underline_intro::before{
    width: 373px;
}

.underline_main::before{
    width: 232px;
}

.underline:hover::before{
    transform: scaleX(1);
    transform-origin: center;
}

.cursor {
    z-index: 10;
    Width: 20px;
    height: 20px;
    border: 1px solid white;
    background-color: #f1ffb8;
    mix-blend-mode:difference;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
}

@keyframes cursorAnim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0%;
    }
}

.expand {
    animation: cursorAnim .5s ease-in-out;
    border: .5px solid rgb(0, 0, 0);
}

@keyframes transitionIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@media (max-width : 760px) {
    .underline {
        font-size: 70px;
    }
}
