*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #0c3e6b;
    font-size: 14px;
    color: #f1ffb8;
}

.underline_hover{
    font-size: 90px;
    text-align: center;
    margin-top: 400px;
    letter-spacing: 5px;
}

.underline_hover::before{
    content:'';
    margin: -20px 4px;
    height: 10px;
    width: 373px;
    transform: scaleX(0);
    background-color :#f1ffb8;
    position: absolute;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.underline_hover:hover::before{
    transform: scaleX(1);
    transform-origin: center;
}

